/* RESEEET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
  color: #000;
	font-family: 'Open Sans', sans-serif;
}
a:hover {
	text-decoration: none;

}
/* CSS GENENRAL */

*{
	box-sizing: border-box;
}

body{/*Agrego para poder manejar todo con em*/
	font-size: 10px;
	min-width: 330px;
	background-color: #F7F7F0;width:100%;
}

main{
 	margin:0 auto;
	margin: 10px;
	background-size: cover;
}

button{
	border-radius: 5px;
}
h1 {
	text-align: center;
	background-color:grey;
	padding: 20px;
	width:100%;
	margin: 0 auto;
	font-size: 3em;
	font-family: 'Merriweather', serif;}
h2 {
	font-size: 2.5em
	font-family: 'Merriweather', serif;
}
h3 {
	font-size: 2em;
	font-family: 'Merriweather', serif;
}
h4 {
	font-size: 1.8em;
	font-family: 'Merriweather', serif;
}

p{
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
}

/* CABEZERA */
.cabezera{
	background: #FAFA17;
	height: 80px;
	margin-bottom: 50px;
}
.logo {
	display: flex;
  flex-direction: row;
	align-items:center;
  width: 100%;
}
.logo a{
	margin:0 auto;
}

.logo a:last-child{
	margin:0;
}
.logo img{
  width: 47px;
}
.logo button{
	background-color: ;
}
.fas.fa-bars{
	align-self: flex-end;
}
.fas.fa-bars:hover{
	font-size: 1.6em;
	color:grey;
}

/* NAV DEL MENU */
header{
	background: #C1D009;
}
.menu{
	background: #C1D009;
	display: flex;
	height: 56px;


}
.menu_cont{
	width: 1170px;
	display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  margin: 0 auto;
	height: auto;

}

.log_in{
	display: none;
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

/* BUSCADOR DEL NAV */
.buscador{
  width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.fas.fa-search{
	padding: 10px;
	padding-right: 30px;
}

/* ESTA LINEA LE DA MARGEN A LAS LINES DE MENU MOBILE */
.fa-bars:before {
	margin-right: 10px;
}

/* CAJA DEL BUSCADOR */
.menu form{
	width: 55%;
}
.menu input{
  width: 90%;
	border: 1px solid #9B9B95;
	border-radius: 2px;
	margin-right: 3px;
	height: 40px;
}


/*AQUI TERMINA EL LA CABEZERA */

/* PAGINA DE REGISTRO */
.Registros {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}
.Registros form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}

/*____________________________*/

/*Arranca Cuerpo del Home Mobile*/
.principal_image{
	margin-top: -26px;
	margin-bottom: 10px;
	max-width: 100%;
	height: auto;
}

.h1_home{
	background: none;
	background-color: inherit;
	font-size: 5em;
}
.home_titles{
	font-size: 2.5em;
	margin-bottom: 15px;
	border-bottom: 1px solid #000;
}
.home_categories{
		display: none;
	}

.home_products{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.home_article{
	width: 45%;
	border-radius: 5px;
	border: 1px solid #D3D3CB;
	margin-bottom: 30px;
}
.home_article img{
	width: 100%;
}
.home_offers{
	width: 96%;
	border-radius: 5px;
	border: 1px solid #D3D3CB;
	margin-bottom: 30px;
}
.home_offers img{
	width: 100%;
}
.home_offers:nth-child(odd){
	display: none;
}
.home_product_inside{

	text-align: center;
	width: 100%;
	background: #ECECE6;
	color: #000;
	padding-top: 10px;
	padding-bottom: 10px;

}




/*Termin el Cuerpo del home Mobile*/
/*____________________________*/


/* CUERPO PRINCIPAL DE PAGINA DE PREGUNTAS */

.principal{
	padding-left: 10px;
	padding-right: 10px;
}

.main_preguntas{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	background-image: none;
}

/* CUADRO DE PREGUNTAS  */

.questions {
  margin-bottom: 1px;
  padding: 20px;
}
.questions li{
	background: #C5C6BB;
	margin-bottom: 1px;
	padding: 5px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.questions li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.questions li:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.questions li:hover{ /*CAMBIO DE COLOR SOBRE EL MOUSE EN PREGUNTAS*/
	background: #9B9B95;
}
.questions a{
	font-size: 20px;
}
 /* CAJA DE RESPUESTAS */
.answers {
	padding: 20px;
	margin-bottom: 10px;
}
.answers h2{
	margin-bottom: 15px;
	font-size: 1.8em;
}

.answers article{
	margin-bottom: 10px;
}/*AQUI TERMINA EL CSS DEL MAIN*/

/* ESTE ES EL CSS DE LA PAGINA DE NOTEBOOKS */
#notebooks{
	background-color: inherit;
	font-size: 5em;
}

.articles{
	background-image: none;
}

.product{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #fff;
	border: 1px solid #D3D3CB;
	margin-bottom: 10px;
	border-radius: 5px;
}
.product img{
	width: 45%;
	border-radius: 10px;
	align-self: center;
}
.product-inside{
	width:45%;
	margin: 0;
	align-self: center;
	background-color: #ECECE6
}
.product:hover{
  /* tranformamos el elemento al pasar el mouse por encima al doble de
  su tamaño con scale(1.1). */
	z-index: 1000;
  transform : scale(1.1);
  -moz-transition : scale(1.1);      /* Firefox */
  -webkit-transition : scale(1.1);   /* Chrome - Safari */
  -o-transition : scale(1.1);			/* Opera */
}

.product-inside:hover{
	background: rgba(0, 0, 0, 0.5);
}

.fav-add{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1em;
	margin-bottom: 10px;

}

.fav-add i{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 4px;
	background: #fff;
}

.fav-add i:hover{
	background: #000;
	color: #fff;
}

.home_offer
.articles{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}/*AQUI TERMINO LA PAGINA DE NOTEBOOKS*/

/* CAJA DE CATEGORIAS */
.menu_lateral{
	display: none;
}

/*------------------- Arranca Pagina Log_in --------------------------*/

.caja_formulario{
 	background-color: rgba(12, 0, 0, 0.5);
 	color: white;
 	width: 90%;
	display: flex;
 	border-radius: 10px;
 	padding: 10px;
	margin: 0 auto;
}
.datos{
 	margin:20px;
	flex-direction: column;
 	width: 100%;
	text-align: center;
}
.dato_interno{
	display: flex;
	flex-wrap: wrap;
 	margin-bottom: 10px;
 	width: 96%;
}
.dato_interno input{
 	width: 90%;
 	height: 30px;
}
.dato_interno span{
	color: #fff;
}
.dato_interno p {
	text-align: center;
	height: 1em;
	width:96%;
	margin-top: 2px;
}
.dato_terminos{
	display: flex;
 	margin-bottom: 10px;
 	width: 96%;
	flex-direction: column;
	align-content: space-between;
	align-items: center;
}
.dato_terminos p {
	text-align: center;
	height: 1em;
	width:96%;
	margin-top: 2px;
}
.dato_terminos span{
	color: #fff;
}
.caja_subdivisoria{
	display:flex;
	align-items: center;
	width: 100%;
}
.registrarse{
	width: 96%;
	text-align: center;
}

.iniciar, .registrarse{
 	margin-bottom: 20px;
}
.iniciar a, .registrarse a{
 	font-size: 2em;
 	color: #fff;
}
.boton{
 display:flex;
 flex-direction: row;
 align-items: center;
}
.boton a{
	color:blue;
	color:white;
	font-size: 1.7em;/*ODO cambiar o sacar family y font dejar que lo tome Arriba*/
}

.dato_interno i{
  font-size: 2em;
  padding-right: 2px;
  width: 23px;
  height: 23px;
}
/*---------------------FInaliza Log_in------------------------*/


/*Arranca reparaciones main*/
.reparaciones {
	height: 500px;
	margin: 0 auto;
	position: relative;
}
.reparaciones h1{
	position: absolute;
	top:0;
}

.reparaciones p{
	text-align: center;
	margin-top: 10%;
	position: absolute;
	top:30%;
	left:40%;
}


/*Finaliza reaparaciones main*/



/* ------------------- ESTE ES EL FOOTEER --------------------*/
.pie_pagina{

	height: 60px;
	display: flex;
	justify-content: center;
	border-top: 1px solid #929291;
	margin-top: 30px;
}
.pie_pagina ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.pie_pagina li{
	text-align: center;
}
.pie_pagina a{
	font-size: 1.2em;
	margin: 5px;
	text-align: center;
	color: #444;
}

footer{
	background: #AAAAA0;
}

/*-------------------- INICIO MEDIA QUERY -----------------*/
	/*-------------Arranca REsponsive para Tablets------------------*/
@media (min-width: 768px) {
	.principal_image{
		margin-top: -14px;
	}
	/*Afecata Cabezeras en general*/
	header{
		margin-bottom: 10px;
	}
	/* .menu{
		height: 40px;
	} */
	.logo img{
		width: 58px;
	}
	.menu input{
		height: 40px;
	}
	.menu form a{
		font-size: 1.5em;
	}
	.logo a i{
		display: none;
	}
	.log_in{
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.1em;
	}
	.barras, .login_bar{
		font-size: 1.5em;
	}
	.login_bar{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.login_bar .log_in p{
		margin-left: 10px;
		text-transform: capitalize;
		font-family: 'Merriweather', serif;
		font-size: 15px;

	}
	/*-----------Finaliza Responsive table Cabezera----------------*/

	/*Inician los responsives para Tablets de Main en cada html*/

	/*Inicia Responsive Tablets para Main de preguntas.html*/
	#principal_pregunta{
		font-size: 4em;
		align-self: flex-start;
		margin-left: 40px;
		background-color: inherit;
	}
	.questions{
		width: 90%;
	}
	.questions a{
		font-size: 2.5em;
	}

	.answers p{
		font-size: 1.6em;
	}
	/*Finaliza Responsive Tablets para Main de preguntas.hmtl*/


	/*Inicia Responsive Tablets para Main de home.html*/

	.principal_image{
		margin-top: -26px;
		margin-bottom: 10px;
		max-width: 100%;
		height: auto;
	}

	.h1_home{
		background: none;
		background-color: inherit;
		font-size: 5em;
	}
	.home_titles{
		font-size: 2.5em;
		margin-bottom: 15px;
		border-bottom: 1px solid #000;
	}
	.home_categories{
			display: none;
		}

	.home_products{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.home_article{
		width: 32%;
		border-radius: 5px;
		border: 1px solid #D3D3CB;
		margin-bottom: 30px;
	}
	.home_article img{
		width: 100%;
	}
	.home_article:last-child{
		display: none;
	}
	.home_offers{
		width: 47%;
		border-radius: 5px;
		border: 1px solid #D3D3CB;
		margin-bottom: 30px;
	}
	.home_offers img{
		width: 100%;
	}
	.home_offers:nth-child(odd){
		display: block;
	}
	.home_offers:nth-child(even){
		display: none;
	}
	.home_product_inside{

		text-align: center;
		width: 100%;
		background: #ECECE6;
		color: #000;
		padding-top: 10px;
		padding-bottom: 10px;

	}



	/*Finaliza Responsive Tablets para Main de home.html*/
	/*Responsive para registros y login*/
	.dato_interno{
		width: 95%;
		display: flex;
		justify-content: center;
	}

	.dato_interno i{
	font-size: 3em;
	margin-right: 20px;
	}

	form{
		display: flex;
		align-content: center;
	}
	.caja_formulario{
		justify-content: center;
		width:80%;
		margin: 0 auto;
	}
	div.datos{
		display:block;
		justify-content: center;
	}
	button{
		justify-content: flex-start;
	}
	a{
		text-align: center;
	}



	/*Finaliza el responsive para registros y login.*/

	/*Finalizan los responsives para Tablets de Main en cada html*/
	/* RESPONSIVE PARA LA TABLET DE LA PAGINA NOTEBOOKS */
	.articles{
		margin: 10px;
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		align-content: space-between;
	}
	.product{
		width: 45%;
		margin-bottom: 10px;
		margin-right: 2.5%;
	}

	.product:nth-child(odd){
		display: block;
	}
	.product:nth-child(even){
		display: none;
	}
	.product-inside{

		text-align: center;
		width: 100%;
		background: #ECECE6;
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	/*Responsive General para Pie de ¨Pagina*/
	.pie_pagina a {
		font-size: 1.5em;
		font-family: 'Merriweather', serif;
	}
}


	/*-----------------FInaliza Responsive para Tablets------------------------*/

@media (min-width: 1200px){

	body{
		background-color: #F7F7F0;
	}
	main{
		max-width: 1170px;
		margin: 0 auto;
	}

	.log_in a {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.principal_image{
		margin-top: -14px;
		width: 100%;
	}

	.answers{
		border: 1px solid #000;
		background: #fff;
		width: 90%;
		border-radius: 5px;
	}
	/* PAGINA DE NOTEBOOKS RESPONSIVE DESKTOP */
	.principal{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 1170px;
		margin: 0 auto;
	}
	.articles{
		width: 70%;
		margin: 10px;
	}
	.product{
		width: 30%;

		margin-bottom: 10px;
	}
	.product:nth-child(even){
		display: block;
	}

	.product img{
		width: 100%;
	}

	.product-inside{

		text-align: center;
		width: 100%;
		background: #ECECE6;
		color: #000;

	}

	.menu_lateral{
		display: block;
		width: 25%;
		font-size: 2em;
	}
	.menu_lateral ul{
		border: 1px solid #001;
		border-radius: 5px;
		padding: 15px;
		height: 500px;
		background-color: #fff;
		height: 99%;
	}
	.menu_lateral li{
		margin-bottom: 15px;
	}
	/* -----------TERMINA EL RESPONSIVE DE NOTEBOOK -----------*/

	/*Arranca responsive Home Desktop*/


	.container_home{
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.containerHomeProducts{
		width: 78%;
	}

	.home_categories{
		width: 20%;
	}

	.home_products{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 30px;

	}
	.home_article{
		width: 24%;
		border-radius: 5px;
		border: 1px solid #D3D3CB;
	}
	.home_article img{
		width: 100%;
	}
	.home_article:last-child{
		display: block;
	}

	.home_offers{
		width: 30%;
		border-radius: 5px;
		border: 1px solid #D3D3CB;
	}
	.home_offers img{
		width: 100%;
	}

	.home_offers:nth-child(even) {
    display: block;
}

	.home_categories{
		display: block;
		width: 20%;
		font-size: 2em;
	}
	.home_categories ul{
		border: 1px solid #001;
		border-radius: 5px;
		padding: 15px;
		height: 500px;
		background-color: #fff;
		height: 99%;
	}
	.home_categories li{
		margin-bottom: 15px;
	}

	/* PIE DE PAGINA */

	.pie_pagina{
		width: 1170px;
		margin: 0 auto;
	}
}
